@import '../../../styles';

section{
  font-family: $bodyfont;
  padding-inline: 5rem;
  display: flex;
  flex-direction: column;
  padding-top: calc(35px/16px) * 1rem;
  width: 100%;
  display: flex;
  color: #fff;



  ul{
    list-style-type: none;
    display: flex;
    width: 18rem;
    align-items: center;
    padding-block: calc(45px/16px) * 1rem;


    a{
      color: #fff;
      text-decoration: none;

      .logo-bg{
        width: calc(80px/16px) * 1rem;
        height: calc(60px/16px) * 1rem;
        background-color: #fff;
        border-radius: .625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: calc(10px/16px) * 1rem;
        transition: background-color 0.3s ease;
      }
    }

    li{
      img{
        width: calc(54px/16px) * 1rem;
      }
    }

  }
}


@media (max-width: 768px) {
  section{
    padding-inline: 2rem;

    h4{
      font-size: .8rem;
    }


  }


}
