<section appBgHighlight="#000">
  <div>
    <h4>Explore more at these sites:</h4>
  </div>
  <ul>
    <li title="">
      <a href="https://dribbble.com/" target="_blank">
        <img src="../../../assets/images/dribbble-logo.png" alt="dribble-icon">
        <h5>Dribbble</h5>
      </a>
    </li>
    <li>
      <a href="https://www.awwwards.com/" target="_blank">
        <div class="logo-bg">
          <img src="../../../assets/images/awwwards-log.webp" alt="dribble-icon">
        </div>
      </a>
    </li>
    <li>
      <a href="https://www.awwwards.com/" target="_blank">
        <div class="logo-bg">
          <img src="../../../assets/images/pinterest-logo.webp" alt="dribble-icon">
        </div>
      </a>
    </li>
  </ul>
</section>
