@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yeseva+One&display=swap');

// global variables
$headerfont: 'Yeseva One';
$titlefont: 'Josefin Sans';
$bodyfont: 'Open Sans';
$base-fontsize: 16px;
$miragebg: #162030;
$light-border-color: rgba(0, 0, 0, 0.1);
$dark-border-color: rgba(255, 255, 255, 0.1);
