@import '../../../styles';

ul{
  display: flex;
  flex-direction: column;
  gap: rem(42px);
  align-items: center;

  li{
    @extend .base-li;



    &.revealed {
      opacity: 1;
      transform: translateX(-0);
    }

    &.darkmode{
      border-bottom: 1px solid $dark-border-color;
    }

    .li-txt-grp{
      display: flex;
      flex-direction: column;
      gap: rem(38px);
      width: auto;

      .li-head{

        h3{
          font-family: $titlefont;
          font-weight: 600;
          font-size: rem(32px);
        }
      }
    }



    .li-txt-grp-2{
      @include li-txt-grp-2-style(230px, 900, $titlefont)
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: 768px) {
  li{
    flex-direction: column;

    &:nth-child(even) {
      flex-direction: column !important;
    }
  }
}
