@import '../styles.scss';


body {
  transition: background-color 0.5s ease-in-out;
  background-color: #C8CFF1;

  #container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.dark-theme {
    background-color: #162030;
    color: #fff;
  }
}

