@import '../../../styles.scss';

main{
  padding-top: rem(35px);
  padding-bottom: rem(35px);
  font-family: $bodyfont;
  display: flex;
  flex-direction: column;
  gap: rem(48px);
  justify-content: center;

  div{
    width: auto;
    display: flex;
    justify-content: center;
    .main{
      display: flex;
      flex-direction: column;
      gap: rem(48px);
      padding-inline: 5rem;
      width: 75%;
    }

  }


  h3{
    // color: #fff;
    text-align: center;
    font-size: calc(16px/16px) * 1rem;
    font-family: $titlefont;
  }


}

@media (max-width: 768px) {
  main{
    div{
      .main{
        padding-inline: 2rem;
        width: 100%;
      }
    }
  }
}

