@import '../../../styles.scss';

main{
  padding-top: calc(35px/16px) * 1rem;
  font-family: $bodyfont;
  display: flex;
  flex-direction: column;
  gap: calc(48px / 16px) * 1rem;
  justify-content: center;

  div{
    width: auto;
    display: flex;
    justify-content: center;
    .main{
      display: flex;
      flex-direction: column;
      gap: calc(48px / 16px) * 1rem;
      padding-inline: 5rem;
      // width: 80%;
    }

  }


  h3{
    // color: #fff;
    text-align: center;
    font-size: calc(16px/16px) * 1rem;
    font-family: $titlefont;
  }


}

@media (max-width: 768px) {
  main{
    padding-inline: 2rem;
  }
}

