// Font Variables
$headerfont: 'Yeseva One', sans-serif;
$titlefont: 'Josefin Sans', sans-serif;
$bodyfont: 'Open Sans', sans-serif;

// Color Variables
$miragebg: #162030;
$white-color: #fff;
$dark-theme-filter: brightness(0.5);

// Spacing Variables
$base-fontsize: 16px;
$spacing-md: calc(30px / 16px) * 1rem;
$spacing-lg: calc(50px / 16px) * 1rem;
$gap-lg: calc(230px / 16px) * 1rem;
