@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yeseva+One&display=swap');


$headerfont: 'Yeseva One';
$titlefont: 'Josefin Sans';
$bodyfont: 'Open Sans';
$base-fontsize: 16px;
$miragebg: #162030;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}


